
.header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  transform: rotate(-5deg);
}

.nav__items {
  display: flex;
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  
justify-content: space-between;

}