*, *::before, *::after{
  box-sizing: border-box;
}

@font-face {
  font-family: "TrashHand";
  src: url("../assets/fonts/TrashHand.woff2") format("woff2"),
    url("../assets/fonts/TrashHand.woff") format("woff");
  font-style: normal;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  background-image: url(../assets/img/texture-bg.png);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}

main {
  overflow: scroll;
}

.hidden {
  display: none;
}

.box {
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem 0;
}

.error {
  color: #cc0000;
}

.info {
  color: #00cc00;
}

.box.error {
  border-color: #cc0000
}

.box.info {
  border-color: #00cc00
}



.header {
  align-items: center;
  background-image: url(../assets/img/texture-bg.png);
  box-shadow: 0rem 0.3rem 1.5rem var(--shadowColor);
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: var(--yellowColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 6rem;
  text-decoration: none;
  transform: rotate(-5deg);
}

.nav__items {
  display: flex;
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  justify-content: space-between;
}

.nav__link {
  color: var(--blueColor);
  padding: 2rem;
  text-decoration: none;
}

.nav__link.nav__link--active {
  background-image: url(../assets/img/active.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* .nav__link:hover {
  backgroun
} */

.btn {
  background-image: url(../assets/img/btn-blue.png);
}