*, *::before, *::after{
  box-sizing: border-box;
}

@font-face {
  font-family: "TrashHand";
  src: url("../assets/fonts/TrashHand.woff2") format("woff2"),
    url("../assets/fonts/TrashHand.woff") format("woff");
  font-style: normal;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  color: var(--textColor);
  background-image: url(../assets/img/texture-bg.png);
  font-family: futura-pt, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

main {
  overflow: scroll;
}

.hidden {
  display: none;
}

.box {
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem 0;
}

.error {
  color: #cc0000;
}

.info {
  color: #00cc00;
}

.box.error {
  border-color: #cc0000
}

.box.info {
  border-color: #00cc00
}


/* header */
.header {
  align-items: center;
  background-image: url(../assets/img/texture-bg.png);
  box-shadow: 0 0.3rem 1.5rem var(--shadowColor);
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.header__title {
  color: var(--yellowColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  text-decoration: none;
  transform: rotate(-5deg);
}

.nav__items {
  display: flex;
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  justify-content: space-between;
}

.nav__link {
  color: var(--blueColor);
  display: inline-block;
  padding: 1.5rem 3rem;
  position: relative;
  text-decoration: none;
}

.nav__link::after {
  background-image: url(../assets/img/icon-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: none;
  height: 4rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.nav__link--header::after {
  bottom: 2rem;
}

.nav__link--active::after {
  display: inline-block;
}

.nav__link:hover::after {
  display: inline-block;
}

/* titles */
.subtitle {
  color: var(--redColor);
  font-size: 5rem;
  font-weight: 700;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

/* buttons */
.btn {
  background-color: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn--sticker {
  background-image: url(../assets/img/btn-blue.png);
  color: var(--whiteColor);
  display: block;
  margin: 2rem auto;
  padding: 5rem 6rem;
  position: relative;
}

.btn--sticker:hover::after {
  background-image: url(../assets/img/icon-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 6rem;
  left: 0rem;
  position: absolute;
  top: 3.4rem;
  width: 100%;
}

/* content */
.content {
  padding: 10rem 15rem;
}