.content--overview {
  background-image: url(../assets/img/background/palmtree-yellow.svg),
    url(../assets/img/background/sun-yellow.svg);
  background-repeat: no-repeat;
  background-position: 70vw 15vh, -25vw 200vh;
  display: flex;
  flex-direction: column;
}

.overview__subtitle {
  color: var(--yellowColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 10rem;
  text-align: center;
  transform: rotate(-3deg);
  width: 60rem;
}

.overview {
  padding: 2rem 15rem;
}
