.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter__select {

}

.overview {
  padding: 2rem 15rem;
}

.overview__subtitle {
  color: var(--yellowColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  right: 10rem;
  text-align: center;
  top: 15rem;
  transform: rotate(-3deg);
  width: 60rem;
}