

.back {
  color: var(--textColor);
  margin: 15rem;
  position: relative;
  text-decoration: none;
}

.back::before {
  background-image: url(../assets/img/arrow-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 3rem;
  position: absolute;
  right: 100%;
  transform: scaleX(-1);
  width: 10rem;
}
