.content--how {
  background-image: url(../assets/img/background/ball-red.svg),
    url(../assets/img/background/glasses-yellow.svg),
    url(../assets/img/background/surfboard-red.svg),
    url(../assets/img/background/palmtree-blue.svg),
    url(../assets/img/background/music-blue.svg),
    url(../assets/img/background/music-blue.svg);
  background-repeat: no-repeat;
  background-position: 90vw -4vh, 45vw 55vh, -4vw 150vh, 70vw 200vh, 65vw 415vh, 80vw 385vh;
  padding: 0;
}

.why {
  display: grid;
  grid-column-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45rem 10rem;
  padding: 0 10rem 15rem;
}

.why__title {
  color: var(--greenColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  transform: rotate(1deg);
}

.why__text {
  align-self: center;
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: start;
  max-width: 55rem;
  text-align: center;
  transform: rotate(-2deg);
}

.why__text--accent {
  color: var(--greenColor);
}

.why__img {
  box-shadow: var(--boxShadow);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  transform: rotate(9deg);
  width: 45rem;
}

.why__img--doodles {
  display: none;
}

.why:hover .why__img--doodles {
  display: block;
}

.how__subtitle {
  margin-left: 10rem;
}

.how__text {
  font-size: 2.5rem;
  margin-left: 10rem;
}

.how__scrollcontainer {
  overflow-x: scroll;
}

.how__container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 30rem;
  width: 185%;
}

.container__card {
  background-repeat: no-repeat;
  background-size: contain;
  height: 60rem;
  width: 80rem;
}

.container__card.container__card--one {
  background-image: url(../assets/img/photos/info-2.png);  
  transform: rotate(-3deg);
}

.container__card.container__card--two {
  background-image: url(../assets/img/photos/info-3.png);  
  transform: rotate(4deg);
}

.container__card.container__card--three {
  background-image: url(../assets/img/photos/info-4.png);  
  transform: rotate(-2deg);
}

.card__number {
  background-position: center;  
  background-repeat: no-repeat;
  background-size: contain;
  height: 10rem;
  width: 10rem;
}

.container__card--one .card__number {
  background-image: url(../assets/img/one.png);  
}

.container__card--two .card__number {
  background-image: url(../assets/img/two.png);  
}

.container__card--three .card__number {
  background-image: url(../assets/img/three.png);  
}

.card__text {
  color: var(--greenColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 35rem;
}

.container__card--one .card__text {
  left: 36rem;
  position: relative;
  top: 3rem;
  transform: rotate(2deg);
}

.container__card--two .card__text {
  left: 39rem;
  position: relative;
  top: 0rem;
  transform: rotate(2deg);
}

.container__card--three .card__text {
  left: 1rem;
  position: relative;
  top: 1rem;
  transform: rotate(2deg);
}

.how__arrows {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  width: 25rem;
}

.arrows__icon {
  width: 10rem;
}

.arrows__icon--left {
  transform: scaleX(-1);
}

.tips {
  margin: 10rem;
}

.tips__subtitle {
  color: var(--yellowColor);
  font-size: 4rem;
  font-weight: 700;
  padding: 5rem 0;
  text-transform: uppercase;
}

.tips__text {
  font-size: 2.5rem;
  max-width: 65rem;
}

.cocktails__container {
  display: flex;
  padding: 15rem 0rem;
}

.container__cocktail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem auto 16rem;
}

.container__cocktail--mojito {
  transform: rotate(9deg);
}

.container__cocktail--icedtea {
  transform: rotate(-11deg);
}

.container__cocktail--margarita {
  transform: rotate(6deg);
}

.cocktail__name {
  color: var(--greenColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  grid-column: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.cocktail__descr {
  align-self: center;
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 2.7rem;
  grid-column: 1;
  grid-row: 3 / 4;
  justify-self: center;
  max-width: 35rem;
  text-align: center;
  transform: rotate(3deg);

}

.cocktail__img {
  box-shadow: var(--boxShadow);
  grid-column: 1;
  grid-row: 2 / 4;
  width: 50rem;
}

.cocktail__img--doodles {
  display: none;
}

.container__cocktail:hover .cocktail__img--doodles {
  display: block;
}

.how__playlist {
  height: 7.5rem;
  margin: 10rem auto;
  width: 50rem;
}