.content--profile {
  background-image: url(../assets/img/background/sun-yellow.svg);
  background-repeat: no-repeat;
  background-position: 50vw -6vh;
}

.profile__header {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 10rem 2fr;
  grid-template-rows: auto;
  margin-bottom: 15rem;
}

.header__info {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.info__name {
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  padding-bottom: 1rem;
}

.info__email {
  font-size: 2.5rem;
  padding-bottom: 3rem;
}

.header__stats {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  justify-content: space-between;
  width: 45rem;
}

.stats__item {
  background-image: url(../assets/img/stats-bg-yellow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--beigeColor);
  font-family: "TrashHand", Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  height: 7rem;
  padding-left: 6rem;
  position: relative;
  width: 12rem;
}

.stats__item::before {
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 6rem;;
  position: absolute;
  right: 7rem;
  width: 4rem;
}

.stats__item--experiences::before {
  background-image: url(../assets/img/icon-trophy.svg);
}

.stats__item--likes::before {
  background-image: url(../assets/img/icon-likes.svg);
}

.stats__item--reviews::before {
  background-image: url(../assets/img/icon-reviews.svg);
}

.header__logout {
  color: var(--textColor);
  grid-column: 3 / 4;
  justify-self: flex-end;
  padding-right: 10rem;
  position: relative;
}

.header__logout::after {
  background-image: url(../assets/img/arrow-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 3rem;
  left: 10rem;
  position: absolute;
  width: 5rem;
}

.header__logout:hover{
  text-decoration: underline;
}