:root {
    --textColor: #0A3974;
    --greenColor: #009CA4;
    --lightblueColor: #60BCCE;
    --redColor: #DC4E3E;
    --yellowColor: #F7B93D;
    --pinkColor: #F5BFB9;
    --blueColor: #0160AA;
    --shadowColor: #E3DBC8;
    --whiteColor: #FFFFFF;
}